.text{
        margin-top: 5px;
        text-align: center;
        background-color: rgb(228, 221, 221);
        padding: 15px;
        font-weight: bold;
        color: rgb(255, 47, 168);
        
}